<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço de Reserva</title>
</head>

<body>
    <h1>Reserva</h1>

    <p>no terminal do Codespace</p>
    <p>Adicionar reserva:</p>

    <pre style="background-color: beige;"><code>
        curl -X POST http://localhost:8085/reservas \
        -H "Content-Type: application/json" \
        -d '{
            "quadraName": "Quadra Central",
            "periodo": "2025-11-05T15:30:00",
            "pagamento": "cartao"
        }'
    </code></pre>

    <p>Rotas:</p>
    <ol>
        <li><a href="/reservas">GET /reservas: lista paginada</a></li>
        <li>POST /reservas: registrar reserva</li>
    </ol>
</body>

</html>