<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço de Reserva</title>
</head>

<body>
    <h1>Reserva</h1>

    <!-- <p>no terminal do Codespace</p>
    <p>Adicionar reserva:</p>
    
    <pre style="background-color: beige;"><code>
        curl -X POST http://localhost:8085/reservas \
        -H "Content-Type: application/json" \
        -d '{"name": "Quadra Central", "local": "Pátio 2", "price": 100.0, "category": "FUTEBOL"}'
    </code></pre> -->

    <!-- <p>Rotas:</p>
    <ol>
        <li><a href="/quadras">GET /quadras: lista paginada</a></li>
        <li>POST /quadras: registrar quadra</li>
        <li>POST /quadras/alugar: alugar quadra</li>
    </ol> -->
</body>

</html>